/* Blog and archive styles */

.blog,
.archive,
.search {

  .entry {
    padding-bottom: $baseline-height;
  }
  .post-content {
    margin-top: $baseline-height;
    text-align: center; // center excerpts
  }
}
.more-link {
  margin-top: $baseline-height * 0.5;
  font-weight: 300;
  display: inline-block;
  padding: 6px $baseline-height;
  outline: solid 1px $gray-85;
  transition: outline-color 0.15s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline-color: $gray-23;
  }
}
.loop-pagination {
  position: relative;
  margin: $baseline-height 0;
  padding: $baseline-height / 2;
  background: white;
  border: solid 1px $gray-87;
  text-align: center;

  a {
    text-decoration: underline;
  }
  .prev,
  .next {
    position: absolute;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
  .prev {
    left: $column * 1.0667;
  }
  .next {
    right: $column * 1.0667;
  }
  .page-numbers {
    padding: 0 4px;
  }
}
.archive-header {
  margin: $baseline-height 0;
  padding: $baseline-height;
  background: white;
  border: solid 1px $gray-87;
  text-align: center;

  h2 {
    display: inline-block;
    font-size: 1em;
    line-height: 1.5;
  }
  i {
    display: inline-block;
    color: $gray-23;
    margin-right: 2px;
  }
}
.search-header {
  background: white;
  border: solid 1px $gray-87;
  padding: $baseline-height $column * 1.0667;

  .search-form-container {
    margin-top: $baseline-height;
  }
  .search-submit {
    margin-top: $baseline-height / 2;
    max-width: none;
  }
}
.search-header.bottom {
  padding-top: 0;
}