/* Blog and archive styles */

.blog,
.archive,
.search {

  .post-content {
    margin-top: $baseline-height;
    margin-bottom: $baseline-height;
    text-align: center; // center excerpts
  }
}
// not search. always excerpts
.full-post.blog,
.full-post.archive {

  .post-content {
    text-align: left;
  }
}
.more-link {
  margin-top: $baseline-height * 0.5;
  font-weight: 300;
  display: inline-block;
  padding: 6px $baseline-height;
  outline: solid 1px $gray-85;
  transition: outline-color 0.15s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline-color: $gray-23;
  }
}
.pagination {
  position: relative;
  margin: $baseline-height 0;
  padding: $baseline-height / 2;
  background: white;
  border: solid 1px $gray-87;
  text-align: center;

  a {
    text-decoration: underline;
  }
  .prev,
  .next {
    position: absolute;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
  .prev {
    left: $column * 1.0667;
  }
  .next {
    right: $column * 1.0667;
  }
  .page-numbers {
    padding: 0 4px;
  }
}
.infinite-scroll .pagination {
  display: none;
}
.archive-header {
  margin: $baseline-height 0;
  padding: $baseline-height;
  background: white;
  border: solid 1px $gray-87;
  text-align: center;

  h1 {
    display: inline-block;
    font-size: 1em;
    line-height: 1.5;
  }
  i {
    display: inline-block;
    color: $gray-23;
    margin-right: 2px;
  }
  p {
    margin-bottom: $baseline-height / 2;
  }
}
.search-header {
  background: white;
  border: solid 1px $gray-87;
  padding: $baseline-height $column * 1.0667 0;
}
.search-header.bottom {
  padding-top: 0;
}
.sticky {
  position: relative;
}
.sticky-status {
  @extend %thirteen-pixels;
  @extend %uppercase;
  font-weight: 300;
  text-align: center;
  display: block;
  background: $gray-17;
  padding: 6px 12px;
  color: white;
}
.search .sticky-status,
.search .has-post-thumbnail .sticky-status {
  display: none;
}
.has-post-thumbnail .sticky-status {
  position: absolute;
  display: inline-block;
  top: 0;
  z-index: 9;
  text-align: left;
}

/* 800px */
@media all and (min-width: 50em) {

  .blog,
  .archive,
  .search {

    .entry {
      margin-bottom: $baseline-height;
    }
  }
  .pagination {
    margin-bottom: $baseline-height * 2;
  }
}