/* Attachment styles */

.singular-attachment {

  .attachment-container {

    img {
      display: block;
    }
  }
  .attachment-caption {
    @extend %thirteen-pixels;
  }
  .further-reading {

    &:after {
      @include clearfix;
    }
    .previous {
      float: left;
    }
    .next {
      float: right;
    }
  }
}