/* Comments styles */

.comments {
  text-align: center;
  margin: $baseline-height * 2 0;
}
.comments-number h3,
.comment-reply-title {
  @extend %twenty-eight-pixels;
}
.comment-list {
  list-style: none;
  margin: $baseline-height 0 $baseline-height * 2;

  ul {
    list-style: none;
  }
  // nesting so it doesn't affect .menu-unset submenus
  .children {
    position: relative;
    background: white;
    margin: $baseline-height 0 0;
  }
}
li.comment,
li.pingback {
  border: solid 1px $gray-85;
  margin: $baseline-height / 2 0;
  padding: $baseline-height / 2 $baseline-height;
}
.comment-author {
  margin-bottom: 18px;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 0 $baseline-height / 2;
    line-height: 0;
  }
}
li.bypostauthor {
  border: solid 3px $gray-85;
}
.comment-content {
  @extend %thirteen-pixels;

  blockquote,
  ul,
  ol,
  pre,
  table {
    text-align: left;
  }
  ul {
    list-style: disc;
  }
}
.comment-date {
  display: inline-block;
  margin-right: 2px;
}
.comment-reply-link,
.comment-edit-link {
  display: inline-block;
  margin: 0 2px 0 6px; // already 4px on the right from inline-block
}
#cancel-comment-reply-link {
  font-size: 16px;
  line-height: 1.5;
  display: block;
}
.comment-form {
  text-align: left;

  label {
    display: block;
  }
}
.comment-respond {
  margin-top: $baseline-height;
}
.comment-notes {
  @extend %thirteen-pixels;
}
.previous-comment {
  margin-bottom: $baseline-height / 2;
}
.next-comment {
  margin-top: $baseline-height / 2;
}

/* 600px */
@media all and (min-width: 37.5em) {

  .comment-pagination {
    margin: $baseline-height 0 $baseline-height * 2;

    &:after {
      @include clearfix;
    }
    p {
      width: 49%;
      margin: 0;
    }
    .previous-comment {
      float: left;
      text-align: left;
    }
    .next-comment {
      float: right;
      text-align: right;
    }
  }
}

/* 800px */
@media all and (min-width: 50em) {

  #cancel-comment-reply-link {
    display: inline-block;
    margin-left: 4px;
  }
}