/* Comments styles */

.comments {
  text-align: center;
  margin: $baseline-height * 2 0;
}
.comments-number h3,
.comment-reply-title {
  @extend %twenty-eight-pixels;
}
.comment-form {
  text-align: left;
}
.comment-notes {
  @extend %thirteen-pixels;
}