/* Footer Styles */

.site-footer {
  margin-top: $baseline-height * 2;
  background: $gray-23;
  color: $gray-85;
  text-align: center;
}
.footer-content {
  padding: $baseline-height * 1.5 $column 0;
}
.design-credit {
  @extend %thirteen-pixels;
  margin-top: $baseline-height * 2;
  padding: $baseline-height / 2;
  background: $gray-17;

  a {
    @extend %gray-link;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: -45px;
  right: 0;
  z-index: 9;
  background: $gray-17;
  border: none;
  color: #fff;
  padding: 9px 0;
  width: 60px;
  transition: background 0.2s, transform 0.3s;

  &.visible {
    transform: translateY(-45px);
  }
  &:hover {
    cursor: pointer;
    background: $gray-33;

    i {
      transform: translateY(-4px);
    }
  }
  i {
    font-size: 21px;
    transition: transform 0.2s;
  }
}

/* 800px */
@media all and (min-width: 50em) {


  .site-footer {
    clear: both;
  }
}