/* Footer Styles */

.site-footer {
  margin-top: $baseline-height * 2;
  background: $gray-23;
  color: $gray-85;
  text-align: center;
}
.footer-content {
  padding: $baseline-height * 1.5 $column 0;
}
.design-credit {
  @extend %thirteen-pixels;
  margin-top: $baseline-height * 2;
  padding: $baseline-height / 2;
  background: $gray-17;

  a {
    @extend %gray-link;
  }
}

/* 800px */
@media all and (min-width: 50em) {


  .site-footer {
    clear: both;
  }
}