/* Styles for the social icons, search bar, title, and general header layout */
.site-header {
  background: $gray-23;
  padding: $baseline-height / 2 $column 0;
  color: white;
  overflow: hidden;
}
.title-container {
  margin: $baseline-height * 1.5 0 $baseline-height * 2;
  text-align: center;
}
.site-title {
  @extend %twenty-eight-pixels; // so the size is the same even when an h2

  a {
    @extend %light-link;
  }
}
.site-description {
  @extend %thirteen-pixels;
  font-weight: 400;
  margin: 0;
  color: $gray-85;
}
.toggle-navigation {
  position: relative;
  font-size: 1em;
  border: none;
  border-bottom: solid 1px $gray-87;
  margin: 0;
  padding: $baseline-height / 2;
  background: white;
  text-align: center;
  width: 106.667%;
  left: -3.334%;

  &:focus {
    outline: none;
  }
  i {
    font-size: 24px;
  }
}
/* 800px */
@media all and (min-width: 50em) {

  .site-header {
    overflow: visible; // to allow for dropdown menus
  }
}