/* Styles for the social icons, search bar, title, and general header layout */
.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $gray-23;
  color: white;
  overflow: hidden;
}
.header-inner {
  width: 100%;
  padding: $baseline-height / 2 $column 0;
  order: 1;
}
.title-container {
  margin: $baseline-height * 1 0 $baseline-height * 1.5;
  text-align: center;
  clear: both;
}
// also used for .site-title in footer
.site-title {
  @extend %twenty-eight-pixels; // so the size is the same even when an h2

  a {
    @extend %light-link;
  }
}
// also used for .site-description in footer
.site-description {
  @extend %thirteen-pixels;
  font-weight: 400;
  margin: 0;
  color: $gray-85;
}
.toggle-navigation {
  position: relative;
  width: 100%;
  font-size: 1em;
  border: none;
  border-bottom: solid 1px $gray-87;
  margin: 0;
  padding: $baseline-height / 2;
  background: white;
  text-align: center;
  cursor: pointer;
  order: 3;

  // &:focus {
  //   color: #0000EE;
  // }
  i {
    font-size: 24px;
  }
}
/* 800px */
@media all and (min-width: 50em) {

  .site-header {
    overflow: visible; // to allow for dropdown menus
  }
  .title-container {
    margin: $baseline-height * 2 0 $baseline-height * 2.5;
    text-align: center;
  }
}