/* Other stuff */

// password posts
.post-password-form {

  input[type="password"] {
    display: block;
    margin: $baseline-height / 2 0;
  }
}

// 800px
@media all and (min-width: 50em) {

  .page-template-full-width {

    .main {
      width: 100% - $column * 2;
      margin: $baseline-height $column 0;
    }
  }
}
