/* Styles for the post */

.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;

  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: white;
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }
    &:focus {
      outline: none;

      &:after {
        opacity: 0.2;
      }
    }
  }
  > img,
  > a > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    min-height: 100%; // stretch if it doesn't fill the area
  }
}
.entry {
  margin-top: $baseline-height;
  background: white;
  border: solid 1px $gray-87;
}
.post-padding-container {
  padding: 0 $column * 1.067;
}
.post-header {
  margin: $baseline-height 0;
  text-align: center;
}
.post-meta {
  position: relative;
  background: $gray-23;
  text-align: center;

  a {
    @extend %light-link;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }
  }
  span {
    @extend %thirteen-pixels;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  i {
    color: white;
    padding: 16px 36px;
  }
  div {
    position: relative;
    display: inline-block;
  }
}
.date-meta,
.author-meta {

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 12px;
    width: 1px;
    height: 24px;
    background: $gray-33;
  }
}
.post-categories {
  @extend %thirteen-pixels;
  margin: 0;
}
.post-content {
  margin: $baseline-height * 1.5 0 $baseline-height * 2;

  .post-content iframe {
    max-width: 100%;
  }
  &:after {
    @include clearfix;
  }
}
.further-reading {
  text-align: center;
  margin: $baseline-height * 2 0;

  div {
    margin-bottom: $baseline-height;
  }
  span {
    @extend %thirteen-pixels;
    display: block;
  }
}
.post-author {
  text-align: center;
  margin: $baseline-height 0;
  padding: $baseline-height / 2 $baseline-height $baseline-height * 1.5;
  border: solid 1px $gray-85;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: $baseline-height / 2 0;
  }
  // > a used so links in bio don't get further shrunk
  p,
  > a {
    @extend %thirteen-pixels;
  }
  p {
    margin: $baseline-height / 2 0 $baseline-height;
  }
  a {
    text-decoration: underline;
  }
}
.post-tags {
  text-align: center;
  margin-bottom: $baseline-height * 2;

  ul {
    list-style: none;
    margin: 0;
  }
  li {
    display: inline-block;
    margin: 0 6px $baseline-height / 2 0;
  }
  a {
    @extend %thirteen-pixels;
    outline: solid 1px $gray-85;
    padding: 4px 8px;
    transition: outline-color 0.15s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      outline-color: $gray-23;
      text-decoration: none;
    }
  }
}

/* 600px */
@media all and (min-width: 37.5em) {

  .further-reading {

    &:after {
      @include clearfix;
    }
    div {
      width: 49%;
    }
    .previous {
      float: left;
      text-align: left;
    }
    .next {
      float: right;
      text-align: right;
    }
  }
}
/* 800px */
@media all and (min-width: 50em) {

  .entry {
    margin-bottom: $baseline-height * 2;
  }
  .post-padding-container {
    padding: 0 $column * 1.684;
  }
}
/* 1000px */
@media all and (min-width: 62.5em) {

  .post-meta {
    padding: $baseline-height / 2;

    span {
      font-weight: 300;
      opacity: 1;
      position: static;
    }
    i {
      padding: 0;
      margin-right: 2px; // 4px from inline-block already
    }
  }
  .date-meta,
  .author-meta {
    margin-right: $baseline-height;
    padding-right: $baseline-height;

    &:after {
      top: 0;
    }
  }
}

/* 1200px */
@media all and (min-width: 75em) {

  .post-padding-container {
    padding: 0 $column * 1.684 * 2;
  }
}