/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
h1, .editor-post-title textarea {
  font-size: 1.75em;
  /* 28px / 16px */
  line-height: 1.321;
  /* 37px */
}

h2 {
  font-size: 1.3125em;
  /* 21px / 16px */
  line-height: 1.143;
  /* 24px */
}

.alignright figcaption,
.alignleft figcaption,
.aligncenter figcaption,
.alignnone figcaption,
.alignwide figcaption,
.alignfull figcaption,
.size-auto figcaption,
.size-full figcaption,
.size-large figcaption,
.size-medium figcaption,
.size-thumbnail figcaption, .wp-block-image figcaption, .wp-caption-text,
.wp-caption-dd {
  font-size: 0.8125em;
  /* 13px / 16px */
  line-height: 1.385;
  /* 18px */
}

a {
  color: #3a3a3a;
}
a:link, a:visited, a:hover, a:active, a:focus {
  color: #3a3a3a;
}

.mce-content-body.wp-editor {
  margin: 0 auto;
  padding: 0 24px !important;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #666666;
  -webkit-font-smoothing: subpixel-antialiased !important;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  max-width: 702px;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #666666;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
}

p {
  margin: 1.5em 0;
}

a {
  font-weight: 400;
  -webkit-transition: color 0.15s ease-in-out;
          transition: color 0.15s ease-in-out;
}
a:hover, a:active, a:focus {
  text-decoration: underline;
}

h1, .editor-post-title textarea, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #3a3a3a;
}

h3,
h4,
h5,
h6 {
  font-size: 1em;
  line-height: 1.5;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  background: #EDEDED;
  padding: 0.75em;
  color: #3a3a3a;
}

code {
  background: #EDEDED;
  padding: 0 0.375em;
  color: #3a3a3a;
}

blockquote {
  margin: 1.5em;
  padding-left: 1.5em;
  border-left: solid 3px #3a3a3a;
}
blockquote cite {
  display: block;
  text-align: right;
}

hr {
  margin: 0.69em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td {
  padding: 0.5em 0.75em;
  border: solid 1px #3a3a3a;
}

th {
  padding: 0.5em 0.75em;
  border: solid 1px #3a3a3a;
}

/* Images */
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.alignwide,
.alignfull,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  height: auto;
  line-height: 0;
  max-width: 100%;
  max-width: calc(100% - 48px);
}
.alignright img,
.alignleft img,
.aligncenter img,
.alignnone img,
.alignwide img,
.alignfull img,
.size-auto img,
.size-full img,
.size-large img,
.size-medium img,
.size-thumbnail img {
  max-width: 100%;
}
.alignright figcaption,
.alignleft figcaption,
.aligncenter figcaption,
.alignnone figcaption,
.alignwide figcaption,
.alignfull figcaption,
.size-auto figcaption,
.size-full figcaption,
.size-large figcaption,
.size-medium figcaption,
.size-thumbnail figcaption {
  line-height: 1.5;
  margin: 3px 0 0 0;
  color: #666666;
  text-align: center;
}

.wp-block-image {
  margin: 0;
  line-height: 0;
}

.wp-block-image figcaption {
  line-height: 1.5;
  margin: 3px 0 0 0;
  color: #666666;
}

.alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
  display: block;
  max-width: 100%;
}

.alignnone {
  margin: 1.5em;
}

img {
  height: auto;
  line-height: 0;
}

.singular-attachment img {
  max-width: 100%;
}

.wp-caption-text,
.wp-caption-dd {
  margin: 3px 0 0 0;
  color: #666666;
}

.wp-block {
  max-width: 688px;
}

.editor-post-title textarea {
  color: #2B2B2B;
  outline: none;
  padding: 19px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
  max-width: none;
}

.wp-block-quote.is-large {
  padding-left: 0;
  border-left: none;
}

.wp-block-embed {
  margin: 1.5em 0;
}

.has-small-font-size {
  font-size: 13px;
}

.has-regular-font-size {
  font-size: 16px;
}

.has-large-font-size {
  font-size: 21px;
}

.has-extra-large-font-size {
  font-size: 28px;
}

@media all and (min-width: 600px) {
  .editor-post-title textarea {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.321;
  }
}
